// Load scpectre styles.
@import 'node_modules/spectre.css/src/spectre.scss';
@import 'node_modules/spectre.css/src/spectre-icons.scss';
@import 'node_modules/spectre.css/src/spectre-exp.scss';

// marging bottom.
.mb-4 {
  margin-bottom: 0.8rem;
}

// padding bottom.
.pb-4 {
  padding-bottom: 0.8rem;
}

// padding right.
.pr-1 {
  padding-top: 0.2rem;
}
.pr-2 {
  padding-top: 0.4rem;
}

.col-ml-neg-6 {
  margin-left: -0.6rem;
}

.docs-footer {
  color: #bcc3ce;
  padding: 0.5rem;
  a {
    color: #66758c;
  }
}
