// Load scpectre styles.
@import 'node_modules/spectre.css/src/spectre.scss';
@import 'node_modules/spectre.css/src/spectre-icons.scss';
@import 'node_modules/spectre.css/src/spectre-exp.scss';

.mt-4 {
  margin-top: 0.8rem;
}

.pt-4 {
  padding-top: 0.8rem;
}

.col-ml-neg-6 {
  margin-left: -0.6rem;
}

.docs-footer {
  color: #bcc3ce;
  padding: 0.5rem;
  a {
    color: #66758c;
  }
}
