// Load scpectre styles.
@import 'node_modules/spectre.css/src/spectre.scss';
@import 'node_modules/spectre.css/src/spectre-icons.scss';
@import 'node_modules/spectre.css/src/spectre-exp.scss';

// Product styles.
.brand-name {
  font-weight: 200;
  margin: 0;
}

.product-price {
  font-size: 1.6rem;
  font-weight: bold;
}

.product-details {
  margin-bottom: 0.4rem;
  .tile {
    border-bottom: 1px dashed #bcc3ce;
  }
}

.pay-with--text {
  background: initial;
}

.purchase-opts {
  font-size: 0.6rem;
}

// Checkout.
.checkout-total {
}

// marging bottom.
.mb-4 {
  margin-bottom: 0.8rem;
}

// padding bottom.
.pb-4 {
  padding-bottom: 0.8rem;
}

// padding right.
.pr-1 {
  padding-top: 0.2rem;
}
.pr-2 {
  padding-top: 0.4rem;
}

.col-ml-neg-6 {
  margin-left: -0.6rem;
}

.docs-footer {
  color: #bcc3ce;
  padding: 0.5rem;
  a {
    color: #66758c;
  }
}

@media (max-width: $size-md) {
  .docs-footer,
  .links {
    text-align: center;
  }
}
